.box{
height: 550px ;
width: 100;
color: #e7eede;
background-color: rgb(23, 46, 46);
border-radius: 30px 60px 10px; 
text-align: center;
font-style: italic;

}
.tabil{

    text-align: center;

}
.bob{
height: 700px;
width: 80;
color: #0f1011;
background-color:rgba(207, 207, 228, 0.745) ;
border-radius: 0px 60px 10px;
text-align: center;

}



