.box{
    height: 200px;
    width: 300px;
    color: aqua;
    background-color: blue;
    border-radius: 0px 0px 60px 60px ;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 'Segoe UI', Tahoma, Geneva, Verdana, Verdana, Geneva, Tahoma, sans-serif ;
}